@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,800;1,800&display=swap');
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    /* background-color: Red; */
}

.miniImgCore{
    /* transform: translateX(200%); */
    transform: translate( 200%, -300%);
    
}

.span{
    color: #4ecc4e;
}